<h2>Contacts</h2>
<div *ngIf="contact$ | async as contact">
  <h3>{{ contact.name }}</h3>
  <p>Id: {{ contact.id }}</p>
  <label for="contact-name">Contact name: </label>
  <input type="text" id="contact-name" [(ngModel)]="contact.name" placeholder="name"/>
  <label for="contact-email">Contact email: </label>
  <input type="text" id="contact-email" [(ngModel)]="contact.email" placeholder="email"/>
  <label for="contact-phone">Contact phone: </label>
  <input type="text" id="contact-phone" [(ngModel)]="contact.phone" placeholder="phone"/>
  <button type="button" (click)="gotoContacts(contact)">Back</button>
</div>
