nav a {
  padding: 1rem;
}

.class1{
  background-image: url('assets/pic2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 5px;
  padding-top: 10px;


}

